.imagen1{
    width: 50%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body2{
    background-color:#74b72e
}

.youtuber1 {
    display: flex;
    align-items: center;
}

.subtitulo1-mi{
    text-align: center; /* Alineación del texto */
    font-size: 24px;
    color: #804000;
}

.text1-mi{
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
}

.titulo2-mi{
    text-align: center;
}

.titulo1-mi{
    text-align: center;
}

.card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    width: 500px;
    background: rgba(255, 255, 255, 0.8);
    background-image: url('https://static.planetminecraft.com/files/resource_media/screenshot/12541707-whiteoak.png');
    background-blend-mode: multiply;
    border-radius: 8px;
    border: 2px solid #000000;
}

.enlace-imagen {
    color: black;
    display: inline-block;
    width: 100%;
}

.vegetta {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.vegetta img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.you-list {
    display: block;
    margin-top: 10px;
}

.you-list h2 {
    margin: 5px 0; /* Ajustar el margen entre los elementos h2 */
}

.you-img {
    width: 70px;
    height: 50px;
    vertical-align: middle;
    margin-right: 5px;
}

.contenedor-youtubers {
    display: flex; /* Utiliza flexbox para distribuir los elementos */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas */
    background-color: #176914; /* Fondo blanco */
    border-radius: 50px; /* Bordes redondeados */
  }

.foto-dni{
    height: 100px;
    width: 100px;
}

.contenedor-minecraft{
    background-color: #218a1d;/* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espacio interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 1800px; /* Ancho máximo */
    margin: 0 auto; /* Centra el recuadro */
}