@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Skranji:wght@400;700&display=swap');

.imagen1{
    width: 50%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body2{
    background-color:#74b72e;
    font-family:'minecraft';
}

.youtuber1 {
    display: flex;
    align-items: center;
}

.subtitulo1-mi{
    font-family: "Skranji", system-ui;
    font-weight: 700;
    text-align: center; /* Alineación del texto */
    font-size: 40px;
    color: #804000;
}

.text1-mi{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}

.text2-mi{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    padding-left: 400px;
    padding-right: 400px;
    text-align: center;
}

.titulo2-mi{
    font-family: "Skranji", system-ui;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

@font-face {
    font-family:'minecraft';
    src: url(minecraft.ttf);
}

.titulo1-mi{
    font-family: "Skranji", system-ui;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
}

.card {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    width: 500px;
    background: rgba(255, 255, 255, 0.8);
    background-image: url('https://static.planetminecraft.com/files/resource_media/screenshot/12541707-whiteoak.png');
    background-blend-mode: multiply;
    border-radius: 8px;
    border: 2px solid #000000;
}

.enlace-imagen {
    color: black;
    display: inline-block;
    width: 100%;
}

.vegetta {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.vegetta img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.you-list {
    display: block;
    margin-top: 10px;
}

.you-list h2 {
    margin: 5px 0; /* Ajustar el margen entre los elementos h2 */
}

.you-img {
    width: 70px;
    height: 50px;
    vertical-align: middle;
    margin-right: 5px;
}

.contenedor-youtubers {
    display: flex; /* Utiliza flexbox para distribuir los elementos */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas */
    background-color: #176914; /* Fondo blanco */
    border-radius: 50px; /* Bordes redondeados */
  }

.foto-dni{
    height: 100px;
    width: 100px;
}

.contenedor-minecraft{
    background-color: #218a1d;/* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espacio interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 1800px; /* Ancho máximo */
    margin: 0 auto; /* Centra el recuadro */
}

.beta{
    align-self: center;
    width: 700px; 
    height:400px;
    border: 5px solid white; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alpha{
    width: 700px; 
    height:400px;
    border: 5px solid white; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

@keyframes show {
    from{
        opacity: 0;
        scale: 25%;
    }

    to{
        opacity: 1;
        scale: 100%;
    }
}

img{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 40%;
    animation-fill-mode: both;
}