.titulo{
    font-size: 24px; /* Tamaño de fuente */
    font-weight: bold; /* Peso de la fuente */
    color: #000000; /* Color del texto */
    text-align: center; /* Alineación del texto */
    /* Otros estilos que desees aplicar */
}


.body{
    background-color:#f0323e
}

.imagen{
    width: 50%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text1-mo{
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
}

.titulo1-mo{
    text-align: center;
    font-family: "minecraft_font.ttf", sans-serif;
}

.titulo2-mo{
    text-align: center;
    padding-top: 50px;
}

.contenedor {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 600px; /* Ajusta el ancho según sea necesario */
    height: 500px
  }
  
  .contenedor img {
    width: calc(50% - 10px);
    height: 200px;
    margin: 5px; /* Espacio de 5px entre cada imagen */
  }

  .enlace-imagen {
    display: inline-block; /* Cambia el comportamiento de la etiqueta 'a' a ser similar a un bloque */
    width: 100%; /* Asigna el ancho completo del contenedor a la imagen */
  }