.body3{
    background-color: #9030bb;
    color: white;
}

.titulo1-ve{
    text-align: center;
    color: #efb810;
}

.titulo2-ve{
    text-align: center;
    color: #efb810;
}

.text1-ve{
    padding-left: 150px;
    padding-right: 150px;
}